#contenedor {
    display: grid;
    grid-template-areas: 
        "Encabezado"
        "Navegacion"
        "Principal"
        "Pie"
    ;
    background-color: rgba(131, 0, 0, 0.87);
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto auto minmax(200px, auto) minmax(150px, auto);
}

header {
    grid-area: Encabezado;
}

nav {
    grid-area: Navegacion;
}

main {
    grid-area: Principal;
}

footer {
    grid-area: Pie;
}

#encabezado{
    background-color: rgba(131, 0, 0, 0.87);
}
#principal{
    display: grid;
    grid-template-columns: 85%;
    justify-content: center;
    padding: 15px;
}
#navegacion {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
.galeriaImagenes img{
    padding: 15px;
    height: 1080px;
    width: 100%;
}
.carrusel img {
    padding: 5px 15px 0px 15px;
}
#piePagina {
    background-color: rgb(167, 2, 2);
}
.PrimerLetra{
    font-size: 40px;
}

.articulos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 15px;
    text-align: center;
}
.articulos{
    padding: 15px;
    text-align: center;
}
.articulos p {
    padding: 5px;
}
.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 15px;
}
form {
    display: flex;
    margin: 20px;
    justify-content: center;
}
fieldset{
    background-color: rgb(170, 3, 3);
}
legend {
    display: flex;
    padding: 10px;
}
form label {
    padding: 20px;
}
form {
    input,
    select,
    textarea {
        width: 100%;
    }
}



@media (max-width: 1199px){
    .galeriaImagenes img{
        height: 550px;
    }
    .articulos {
        grid-template-columns: repeat(2, 50%);
    }
    .productos {
        grid-template-columns: 100%
    }
    #encabezado h1 {
        font-size: 6rem;
    }
    .logosAncho {
        width: 50px;
    }
    .subtitulo{
        font-size: 4rem;
    }
    .texto{
        font-size: 1rem;
    }
    section h3 {
        font-size: 1.5rem;
    }
}
@media (max-width: 767px){
    .galeriaImagenes img{
        height: 250px;
    }
    .articulos {
        grid-template-columns: 100%;
    }
    .productos {
        grid-template-columns: 100%;
    }
    #encabezado h1 {
        font-size: 3rem;
    }
    .logosAncho {
        width: 50px;
    }
    .subtitulo{
        font-size: 2rem;
    }
}